@model Minesweeper.Models.HomeModel

<div id="HeaderContainer">
    <div id="RemainingDiv">
        <span id="Remaining">000</span>
    </div>
    <input type="button" value="New Game" id="Start" />
    <div id="TimeDiv">
        <span id="Time">000</span>
    </div>
</div>
<div id="Container">
    <div id="Title">Minesweeper</div>
    <div id="GameResult">Win</div>
    <div id="BoxContainer"></div>
</div>
<div id="FooterContainer">
    <div id="HighScores">
        <h2>High Scores</h2>
        <ul id="LeftSideHighScores" class="highScoreList">
            @{
                var i = 0;
            }
            @foreach (var item in Model.HighScores.Take(5))
            {
                i++;
                <li>@i. @item.Name - @item.Score</li>
            }
        </ul>
        <ul id="RightSideHighScores" class="highScoreList">
            @{
                i = 5;
            }
            @foreach (var item in Model.HighScores.Skip(5).Take(5))
            {
                i++;
                <li>@i. @item.Name - @item.Score</li>
            }
        </ul>
    </div>
    <div id="YourStats">
        <h2>Stats</h2>
        <table id="YourStatsTable">
            <tr>
                <td>Win Rate</td>
                <td><span id="WinRate"></span></td>
            </tr>
            <tr>
                <td>Win Percentage</td>
                <td><span id="WinPercentage"></span></td>
            </tr>
            <tr>
                <td>Best Time</td>
                <td><span id="BestTime"></span></td>
            </tr>
            <tr>
                <td colspan="2" id="ResetButtonCell">
                    <input type="button" value="Reset" id="ResetStats" />
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="Shield"></div>
<div id="HighScoreDialog">
    Congrats!  You made it in the top 10.<br/><br/>
    Enter your name
    <input type="text" id="HighScoreName" />
</div>